<mat-card class="pesquisa">
    <mat-card-title class="pes-titulo">
        Procurando imovel para alugar?
    </mat-card-title>
    <mat-form-field class="pes-input" appearance="outline">
        <mat-label>Qual tipo?</mat-label>
        <input placeholder="" matInput>
    </mat-form-field>

    <mat-form-field class="pes-input" appearance="outline">
        <mat-label>Onde?</mat-label>
        <input placeholder="" matInput>
    </mat-form-field>

    <mat-card-actions class="pes-botao">
        <button mat-raised-button>Buscar</button>
    </mat-card-actions>
</mat-card>