
<div>
    <div class="topo-perfil">
        <div class="foto-perfil">
            <mat-icon>
                person
            </mat-icon>
        </div>
        <div class="nome-perfil"><span>{{usuario.nome}}</span></div>
    </div>
</div>


<mat-card class="perfil-content">
    <mat-card-content class="perfil-opcoes">
        <button mat-raised-button [routerLink]="['/cadastro-imovel-endereco']">Cadastrar imoveis </button>
        <button mat-raised-button [routerLink]="['/imoveis-usuario']">Imoveis Cadastrados </button>
        <button mat-raised-button [routerLink]="['/reservas']">Reservas </button>
    </mat-card-content>
</mat-card>